<header class="header">
    <div class="container">
        <div class="header-area">
            
            <div class="header-right">
                <form action="#">
                    <select>
                        <option value="Movies">Peliculas</option>
                    </select>
                    <input type="text"/>
                    <button><i class="icofont icofont-search"></i></button>
                </form>
                <ul>
                    <li><a href="#">Buscar.....</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
